.Home {
  display: grid;
  grid-template-rows: 4em 1fr;
  height: 100vh;
}

.Home-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'userpanel main recommendations';
  grid-template-rows: 100%;
}

.Home-main {
  background-color: darkgreen;
}
