.btn {
  font-size: 1em;
  padding: 0.5em 0.8em;
  color: white;
  border-radius: 0.2em;
  border: none;
}

.btn-normal {
  background-color: var(--blue);
  border: none;
}

.btn-flat {
  background-color: transparent;
  border: 1px solid white;
}

.Avatar {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

/* Tweet */
.Tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Tweet-content {
  flex-basis: 70%;
}

.Tweet-fullname {
  color: var(--dark);
  font-size: var(--font-medium);
  font-weight: bold;
  text-decoration: none;
}

.Tweet-username {
  color: var(--gray);
  font-weight: bold;
}

.Tweet-body {
  color: var(--dark);
}
/* Tweet */

/* Footer */
.Footer {
  grid-area: footer;
  border-top: 1px solid var(--gray);
}

.Footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--space-small);
}

.Footer-link {
  color: var(--gray);
  display: block;
  font-size: var(--font-small);
  text-decoration: none;
  padding: var(--space-small);
}
/* Footer */
