.btn {
  font-size: 1em;
  padding: 0.5em 0.8em;
  color: white;
  border-radius: 0.2em;
  border: none;
}

.btn-normal {
  background-color: var(--blue);
  border: none;
}

.btn-flat {
  background-color: transparent;
  border: 1px solid white;
}

.title {
  padding: var(--space-small) var(--space-normal);
  color: var(--gray);
}

.Avatar {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

/* Tweet */
.Tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Tweet .Avatar {
  margin-right: var(--space-normal);
}

.Tweet-content {
  flex: 1;
}

.Tweet-header {
  margin-bottom: var(--space-small);
}

.Tweet-fullname {
  color: var(--dark);
  font-size: var(--font-medium);
  font-weight: bold;
  text-decoration: none;
}

.Tweet-username {
  color: var(--gray);
  font-weight: bold;
}

.Tweet-body {
  color: var(--dark);
}
/* Tweet */

/* Header */

.Header {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.Logo {
  justify-self: center;
}

.Logo-title {
  color: white;
}

.Navigation {
  display: flex;
}

.Navigation-link {
  text-decoration: none;
  padding: var(--space-small);
  display: block;
  color: white;
}

.Navigation-link:not(:last-child) {
  margin-right: var(--space-normal);
}

.Searchbar {
  width: 100%;
  height: 100%;
}

.Searchbar-input {
  width: inherit;
  height: inherit;
  border: none;
  background-color: var(--darkblue);
  color: white;
  padding: var(--space-small) var(--space-normal);
  font-size: var(--font-medium);
}

/* Header */

/* UserPanel */
.UserPanel {
  display: grid;
  grid-template-rows: 2fr 4fr;
}

.UserCard {
  grid-row: 1/2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.UserCard .Avatar {
  width: 6em;
  height: 6em;
  position: absolute;
  top: calc(60% - 3em);
  left: 4%;
}

.UserCard-photo {
  flex-basis: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserCard-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.UserCard-header {
  width: 55%;
  padding: var(--space-small) 0;
  font-size: var(--font-small);
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: right;
}

.UserCard-location {
  color: var(--dark);
  margin-bottom: var(--space-small);
}

.UserCard-edit {
  text-decoration: none;
  color: var(--gray);
}

.UserCard-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.UserCard-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.UserCard-count {
  color: var(--darkgray);
  font-size: var(--font-medium);
}

.UserCard-detail {
  font-size: 0.7em;
  text-transform: uppercase;
}
/* UserPanel */

/* Notifications */
.Notifications {
  grid-row: 2/6;
}

.Notification {
  display: flex;
  align-items: center;
  padding: var(--space-small) var(--space-normal);
}

.Notification-title {
  font-size: var(--font-small);
}

.Notification .Avatar {
  margin-right: var(--space-small);
}

/* Notifications */

/* TweetBar */
.TweetBar {
  display: flex;
  padding: var(--space-small) var(--space-normal);
  background-color: white;
}

.TweetBar .Avatar {
  width: 50px;
  height: 50px;
}

.TweetBar-form {
  flex: 1;
  display: flex;
  align-items: center;
}

.TweetBar-input {
  flex: 1;
  margin: 0 2em;
  padding: var(--space-small);
  font-size: var(--font-normal);
}
/* TweetBar */

/* TweetList */
.TweetList {
  padding: var(--space-normal);
}

.TweetCard {
  background-color: white;
  padding: var(--space-small) var(--space-normal);
}

.TweetCard:not(:last-child) {
  margin-bottom: var(--space-normal);
}

/* TweetList */

/* Recommendations */
.Recommendations {
  display: grid;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas:
    'follow'
    'trends'
    'rfooter';
}

.Recommendations-follow {
  grid-area: follow;
}

.Recommendations-trends {
  grid-area: trends;
}

.Recommendation-footer {
  grid-area: rfooter;
  align-self: center;
}

.Recommendation {
  display: flex;
  align-items: center;
}

.Recommendation .Avatar {
  width: 60px;
  height: 60px;
}

.Recommendation-title {
  font-size: var(--font-medium);
}

.Recomendation-text {
  color: var(--gray);
}

.Recommendations-trendsList {
  padding: var(--space-small) var(--space-medium);
}

.Recommendations-trend {
  padding: var(--space-small) 0;
}

.Recommendations-trendLink {
  text-decoration: none;
  color: var(--gray);
  font-size: var(--font-medium);
}

.Recommendations .Footer-link {
  font-size: var(--space-normal);
}
/* Recommendations */

/* Footer */
.Footer {
  grid-area: footer;
  border-top: 1px solid var(--lightgray);
}

.Footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--space-small);
}

.Footer-link {
  color: var(--gray);
  display: block;
  font-size: var(--font-small);
  text-decoration: none;
  padding: var(--space-small);
}
/* Footer */
