* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
figure,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.Main {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    '. header header header header .'
    'hero hero hero hero hero hero'
    'hero hero hero hero hero hero'
    'hero hero hero hero hero hero'
    '. gallery  gallery gallery gallery .'
    '. gallery  gallery gallery gallery .'
    '. gallery  gallery gallery gallery .'
    '. gallery  gallery gallery gallery .'
    'footer footer footer footer footer footer';
}

.Header {
  padding: 2em 0;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navigation {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.Navigation-link {
  display: block;
}

.Hero {
  grid-area: hero;
  display: flex;
}

.Hero-picture {
  margin-right: 2em;
}

.Hero-info {
  flex-basis: 45%;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Hero-footer {
  display: flex;
  justify-content: space-between;
}

.Gallery {
  margin: 4em 0;
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
}

.Photo-title {
  font-size: 1em;
}

.Footer {
  grid-area: footer;
  grid-column: 2/6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-info {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
