* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.Main {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header header'
    '. content content content .'
    '. content content content .'
    '. content content content .'
    '. footer footer footer .';
}

.Header {
  margin-bottom: 2em;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Content {
  grid-area: content;
}

.Post {
  margin-bottom: 2em;
}

.Post-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 2em 0;
}

.Post-tag {
  display: inline-block;
  vertical-align: middle;
}

.Post-tag:first-of-type {
  margin-right: 0.5em;
}

.Post-text {
  text-align: justify;
}

.Post-footer {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.Post-author {
  color: gray;
}

.Post-link {
  text-decoration: none;
  color: skyblue;
  text-transform: capitalize;
}

.Pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Pagination-page {
  display: inline-block;
}

.Pagination-page:not(:last-child) {
  margin-right: 2em;
}

.Footer {
  grid-area: footer;
}
