.Join {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 100vh;
}

.Splash {
  background-color: var(--lightgray);
  grid-column: 1/6;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    'picture picture picture picture picture'
    'picture picture picture picture picture'
    'picture picture picture picture picture'
    'picture picture picture picture picture'
    '. popular popular popular .'
    '. tweet tweet tweet .'
    '. tweet tweet tweet .'
    'footer footer footer footer footer';
}

.Splash-picture {
  background-color: darkorange;
  grid-area: picture;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Splash-popular {
  grid-area: popular;
  border-bottom: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Splash-tweet {
  grid-area: tweet;
}

.Splash-tweet .Avatar {
  width: 100px;
  height: 100px;
}

.Signup {
  background-color: gold;
  border: 4px solid blue;
  grid-column: 6/10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.Form {
  width: 60%;
  border: 4px solid green;
}

.Form-input {
  width: 100%;
  font-size: var(--font-medium);
  padding: var(--space-small) var(--space-normal);
  margin-bottom: var(--space-normal);
}
